# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/local/java/latest
Environment=TOMCAT_JAVA_HOME=/usr/local/java/latest
Environment=CATALINA_PID={{ install_path }}/latest/temp/tomcat.pid
Environment=CATALINA_HOME={{ install_path }}/latest
Environment=CATALINA_BASE={{ install_path }}/latest
Environment='CATALINA_OPTS={% for opt in salt["pillar.get"]("tomcat:catalina_opts", []) %}-{{ opt }} {% endfor %}'
Environment='JAVA_OPTS={% for opt in salt["pillar.get"]("tomcat:java_opts", []) %}-{{ opt }} {% endfor %}'

ExecStart={{ install_path }}/latest/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User={{ salt['pillar.get']('tomcat:user', 'root') }}
Group={{ salt['pillar.get']('tomcat:group', 'root') }}
UMask={{ salt['pillar.get']('tomcat:umask', '0022') }}

[Install]
WantedBy=multi-user.target
